*{
  border:0;
  margin:0;
  box-sizing: border-box;
  font-weight:bold;
  background-color: #05203C;
  font-family: arial;
}

.total{
  height:100vh;
  width:100vw;
  background-color: #05203C;
}

.header{
  height:5vh;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.navigationDiv{
  height:100%;
  width:40%;
  color:white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navigations{
  font-size:1rem;
}

 /*about Me Section Css */
.AboutMeDiv{
  height:auto;
  width:100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom:20px;
  
}

.imageDivMe{
  height:auto;
  width:auto;
  border-radius: 50%;
  margin-bottom:20px;
  margin-top:10px;
}

.Image{
  height:200px;
  width:200px;
  border-radius: 50%;
}

.aboutDiv{
  height:auto;
  width:90%;
  color:white;
}

.Image1{
  height:150px;
  width:150px;
  border-radius: 50%;
}

.Me{
  font-size:1rem;
  line-height: 30px;
}

.name{
  font-size:2rem;
  text-align:center;
  margin-bottom:20px;
}

.arrowRight{
  font-size:2rem;
  color:white;
  padding-left:20px;
}

.BackArrowDiv{
  height:auto;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

/* Content Div Css */

.contentDiv{
  height:80vh;
  width:100%;
  color:white;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction:column;
}

.photoDiv{
  height:auto;
  width:auto;
  border-radius:50%;
}

.detailsDiv{
  height:auto;
  width:100%;
}

.skill{
  text-align:center;
  font-size:1rem;
}
.name1{
  font-size:2rem;
  text-align:center;
}

.buttonDiv{
  margin-top:20px;
  height:auto;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutButton{
  height:40px;
  width:120px;
  font-size: 15px;
  border-radius:60px;
  color:white;
  background-color:rgb(1, 8, 23);
  border:2px solid white;
}

/* Education section */

.educationSection{
  height:auto;
  width:100%;
  color:white;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction:column;
}
.educationHeading{
  text-align:center;
  font-size:2rem;
  margin-bottom:30px;
}

.headingTag{
  font-size:20px;
  margin-bottom:10px;
  margin-top:10px; 
  margin-left:10px;
}

.para1{
  font-size:1rem;
  margin-bottom:10px;
  margin-top:10px; 
  margin-left:20px;
}

.para2{
  margin-left:40px;
  font-size:1rem;
  margin-bottom:10px;
}

.para3{
  margin-bottom:40px;
  font-size:1rem;
  width:90%;
  margin-left:30px;
}
.educationDetailsDiv{
  height:auto;
  width:100%;
  display: flex;
  align-items:start;
  justify-content: center;
  flex-direction:column;
}



.anchorforEducationArrow{
  height:auto;
  width:100%;
}

.arrowRight1{
  font-size:2rem;
  padding-left:20px;
}

/* Skill Div */

.skillHeaderDiv{
  height:100px;
  width:100%;
  font-size:1rem;
  display:flex;
  align-items:center;
  justify-content: center;
  color:white;
}

.skillImage{
  height:250px;
  width:250px;
  border-radius:20px;
  border:3px solid white;
}

.ratingDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
}

.skillName{
  font-size:2rem;
  width:100%;
  text-align:center;
  margin-top:10px;
  margin-bottom:10px;
}

.paraforskill{
  width:80%;
  font-size:1rem;
  text-align:center;
}

.SkillDiv,.projectsDiv{
  height:550px;
  width:100%;
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  overflow-x: auto;
  color:white;
  overflow: scroll; /* Enables scrolling */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
}

.SkillDiv::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.projectsDiv::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.Skills{
  height:550px;
  width:95%;
  border-radius:20px;
  margin-left:8px;
  border:2px solid white;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.visitbutton{
  height:40px;
  width:130px;
  background-color: rgb(1, 10, 26);
  color:white;
  border:2px solid white;
  border-radius:40px;
  font-size:15px;
}

.contactDiv{
  margin-top:20px;
  height:auto;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  color:white;
}

.contacts{
  height:30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconforcontact{
  font-size:2rem;
  color:#16776A;
}

.anchorforcontact{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  text-decoration: none;
}

.Nameforimage{
  font-size:14px;
  font-style: italic;
  text-align:center;
  color:#B4C2C0;
  margin-top: 5px;
}

.footer{
  height:40px;
  width:100%;
  display:flex ;
  align-items:center;
  justify-content: center;
  color:#16776A;
  font-style: italic;
  font-size:1rem;
  margin-top:10px;
}